body{
  display: flex;
  justify-content: center;
  align-items: center;
}
table{
  width: 1200px;
  border-collapse: collapse;
}
th{
  border: 1px solid black;
  text-align: left;
  background-color: black;
  color: white;
}
tfoot{
    border: 1px solid black;
  text-align: left;
  background-color: black;
  color: white;
}
td{
  width: 100px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  vertical-align: sub;
 
}
.cabecalho{
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px;
}
.cabecalho p{
  padding: 0px 10px;
}
.number1{
  font-size: 20pt;
}

.small-component{
  display: flex;
  align-items: center;
  height: 30px;
  width: 150px;
  padding: 5px;
  font-size: 8pt;

}
.small-component2{
  display: flex;
  align-items: center;
  height: 30px;
  width: 150px;
  padding: 5px;
  font-size: 8pt;
  background-color: antiquewhite;

}
.small-component p{
  padding: 0px 10px;
}
.small-component2 p{
  padding: 0px 10px;
}
.special{
  height: 250px;
}
.flex-container{
  display: flex;
}

#slogan{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 70px;
  border: 5px solid black;
  border-radius: 70%;
}

#slogan p{
  font-weight: bold;
  font-size: 30px;
}